---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Footer from '../components/Footer.astro';
import Countries from '../components/Countries.astro';
---

<Layout  title="Kerala Startup Mission">
	<div class=" md:h-64 h-36 bg-indigo-900">
<h1 class="md:text-5xl  text-white font-bold text-center text-2xl py-24">Startup Infinity Partner</h1>
    </div>
	<section class="md:px-24 py-24 px-5">
		<div class="container mx-auto ">
			<div class="text-4xl font-bold font-josefin mb-4 text-[#f77e46] pb-3">Eligibility</div>
			<div class="text-justify text-gray-500 font-raleway leading-relaxed text-xl">
				<div class="mb-3 space-y-3 text-base">
                    <p class="flex"><span class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 mt-1  pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>
                      </span><span>Applicants who have good startup ecosystem experience in respective countries shall be empanelled for starting the Startup Infinity programme</span></p>
                      <p class="flex"><span class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 mt-1 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>
                      </span><span>The space for the Startup Infinity programme should be identified by the empanelled partner.</span></p>
                      <p class="flex"><span class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 mt-1 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>
                      </span><span>The rent rates should be competent and the empanelled partner should facilitate the Startup Infinity activities in respective countries.</span></p>
                      <p class="flex"><span class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 mt-1 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>
                      </span><span>The founder of the empanelled agency should have startup experience or should be a member of prominent business associations.</span></p>
                      <p class="flex"><span class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 mt-1 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>
                      </span><span>The empanelled agency should act as a single point of contact for any startups from kerala.</span></p>
                      <p class="flex"><span class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 mt-1 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>
                      </span><span>Facilitation charge or startup engagement programmes may be billed separately.</span></p>
                      <p class="flex"><span class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 mt-1 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>
                      </span><span>Any revenue generation activity by the empanelled agency via the Startup Infinity programme may be shared on a mutual agreement basis with Kerala Startup Mission.</span></p>
                    
                    </div>
                    <a href="https://zfrmz.com/rQ1CBM5XaiW8LZwS08PM" class=" flex py-2 px-4 text-white hover:bg-blue-700 bg-blue-600 rounded-md dark:text-white w-fit text-base float-right" aria-current="page" target="_blank">Apply as Startup Infinity Partner</a>

			</div>

		</div>
	</section>

	<Footer></Footer>

</Layout>