<section class="py-24 bg-[#1a1a1a] text-white">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 bg-white border-8 border-white shadow">
        <iframe title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15781.637886925895!2d76.8819826!3d8.5565655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9622564b6e405dce!2sKerala%20Startup%20Mission!5e0!3m2!1sen!2sin!4v1661833596525!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="w-full md:w-1/2 py-5 flex flex-col items-center justify-center">

        <img src="/img/logo-white.svg" alt="LOGO" class="mb-3">

        <!-- <div class=" mb-2">
          Event Venue:
        </div> -->
        <div class="font-bold font-heading">G3B, Thejaswini, Technopark</div>
        <div class="text-sm max-w-sm text-center">
          Thiruvananthapuram, Kerala, India
        </div>
        
        <div class="mt-10">
          For More Details:
        </div>
        <div class="font-bold font-heading">Prajeet Prabhakaran</div>
        <div class="">prajeet@startupmission.in</div>
        <!-- <div class="">+91 95673 70286</div> -->

        <!-- <div class="text-center text-sm max-w-sm">G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581</div> -->
        
      </div>
    </div>
  </div>
</section>